@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
    font-family: 'Kingthings Petrock Regular';
    src: url('fonts/Kingthings_Petrock-webfont.woff');
}


* {
    box-sizing: border-box;
}

body {
    background-image: url('https://coolwallpapers.me/th700/5823736-elder-scrolls-iv-oblivion-hd-wallpapers.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Kingthings Petrock Regular';
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content:center;
    height: 100vh;
    overflow:hidden;
}


.btn {
    background-color: #faeed8;
    border-radius: 3px;
    border: 2px solid #daccaf;
    box-shadow: 3px 5px #876349;
    color: #876349;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.btn:focus {
    outline: none;
}

