@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
        /* if padding is added, width is not affected */
}

body {
    background-color: pink;
    font-family: 'Montserrat';
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content:center;
    height: 100vh;
    overflow:hidden;
}

.btn {
    background-color: white;
    border-radius: 5px;
    border: none;
    color: pink;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.btn:focus {
    outline: none;
}

