@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
        /* if padding is added, width is not affected */
}

body {
    font-family: Montserrat;
    margin: 0;
    display: flex;
    flex-direction: column;
        /* aligns all elements on the page vertically */
    align-items: center;
        /* centers the column in the middle of page */
    justify-content:center;
    height: 100vh;
    overflow:hidden;
        /* hides scroll bars */
}

